.fancySlider {
  position: relative;
  width: 100%;
  margin: 0 auto;
}

.fancySlider .wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  position: relative;
}

.fancySlider .wrapper > div {
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

/* fancy animation */
.fancySlider.fancy .wrapper > div img.prev {
  transition-delay: 0.05s;
  transform: translateX(-100%) scaleY(1.2);
}

.fancySlider.fancy .wrapper > div img.current {
  transform: translateX(0) scaleY(1);
}

.fancySlider.fancy .wrapper > div img.next {
  transform: translateX(100%) scaleY(1.2);
}

.fancySlider.fancy .wrapper > div img.hide {
  transform: translateX(100%) scaleY(1.2);
}


/* slide animation */
.fancySlider.slide .wrapper > div img.prev {
  transform: translateX(-100%);
}

.fancySlider.slide .wrapper > div img.current {
  transform: translateX(0);
}

.fancySlider.slide .wrapper > div img.next {
  transform: translateX(100%);
}

.fancySlider.slide .wrapper > div img.next.hide {
  transform: translateX(100%);
}

.fancySlider.slide .wrapper > div img.hide.prev {
  transform: translateX(-100%);
}

/* fade animation */
.fancySlider.fade .wrapper > div img.prev {
  opacity: 0;
}

.fancySlider.fade .wrapper > div img.current {
  opacity: 1;
}

.fancySlider.fade .wrapper > div img.next {
  opacity: 0;
}

.fancySlider.fade .wrapper > div img.hide {
  opacity: 0;
}

.fancySlider .wrapper > div img {
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  left: 0;
  transform-origin: right;
  transition-property: transform, opacity;
  transition-timing-function: cubic-bezier(0.45, 0, 0.55, 1);
}
.fancySlider .wrapper > div img.hide {
  visibility: none;
  z-index: -1;
  transition-duration: 0s!important;
}

.fancySlider .wrapper > div img.prev {
  z-index: 1;
}

.fancySlider .wrapper > div img.current {
  transition-delay: 0s;
  z-index: 3;
}

.fancySlider .wrapper > div img.next {
  z-index: 2;
  transition-delay: 0s;
  transform-origin: right;
}

.heightKeeper {
  width: 100%;
  position: static;
  visibility: hidden;
}


.fancySlider .click_me {
    width: 66px;
    height: 14px;
    border: none;
    position: absolute;
    top: calc(50% - 1px);
    overflow: hidden;
    box-shadow: none;
    background: none;
    z-index: 3;
    cursor: pointer;
    text-indent: 999px;
    outline: none;
  }
  
  .fancySlider .click_me.hide {
    width: 0;
    height: 0;
    opacity: 0;
    visibility: hidden;
  }
  
  .fancySlider .click_me:before {
    content: "";
    position: absolute;
    width: 65px;
    left: 3px;
    height: 2px;
    background: #fff;
  }
  
  .fancySlider .click_me:after {
    content: "";
    position: absolute;
    left: 2px;
    width: 5px;
    height: 5px;
    border-left: 2px solid #fff;
    border-bottom: 2px solid #fff;
    transform: rotate(45deg);
    top: 0;
    bottom: 0;
    margin: auto;
  }
  
  
  .fancySlider .click_me.prev {
    left: 20px;
  }
  
  .fancySlider .click_me.next {
    right: 20px;
    transform: rotate(180deg);
  }
  
  .fancySlider .controlWrapper {
    display: block;
    text-align: center;
    margin-top: 40px;
  }
  
  .fancySlider .controlWrapper ul {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
  }
  
  .fancySlider .controlWrapper ul li {
    list-style: none;
  }
  
  .fancySlider .controlWrapper ul li button {
    display: block;
    width: 15px;
    height: 15px;
    border-radius: 100%;
    background: none;
    padding: 0;
    cursor: pointer;
    border: 1px solid black;
    outline: none;
  }
  
  .fancySlider .controlWrapper ul li button:hover,
  .fancySlider .controlWrapper ul li button.active {
    background: black;
  }
  
  .fancySlider .controlWrapper ul li button.active {
    pointer-events: none;
  }
